html,
body,
p,
ul,
li {
	margin: 0px;
	padding: 0px;
}
ul,
li {
	list-style: none;
}
html,
body {
	font-size: 0.28rem;
	color: #333;
}
a {
	color: #333;
}
/*包含以下四种的链接*/
a {
	text-decoration: none;
}
/*正常的未被访问过的链接*/
a:link {
	text-decoration: none;
}
/*已经访问过的链接*/
a:visited {
	text-decoration: none;
}
/*鼠标划过(停留)的链接*/
a:hover {
	text-decoration: none;
}
/* 正在点击的链接*/
a:active {
	text-decoration: none;
}
