.nav {
    height: 1.2rem;
    margin-bottom: 0.4rem;
    background-color: #ccc;
}
.content {
    padding: 0rem 0.6rem;
    padding-bottom: 1rem;
}
.content li {
    height: 5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.4rem;
    background-color: #ccc;
    overflow: hidden;
}
.content li img {
    width: 100%;

}
