.nav {
	position: relative;
	height: 1.2rem;
	line-height: 1.2rem;
	margin-bottom: 0.4rem;
	padding: 0rem 0.6rem;
	/* background-color: #ccc; */

	overflow: hidden;
	/* 隐藏滚动条 */
	scrollbar-width: none; /* firefox */
	-ms-overflow-style: none; /* IE 10+ */
}
.nav::-webkit-scrollbar {
	display: none; /* Chrome Safari */
}
.nav-wrap {
	overflow-x: scroll;
	overflow-y: hidden;
}
/* 切换list */
.nav-switch {
	position: absolute;
	top: 0;
    right: 0;
    width: 0.4rem;
    font-size: 0;
	
    background: #fff;
    height: 1.2rem;
    line-height: 1.65rem;
    padding-right: 0.6rem;

	box-shadow: -0.4rem 0px 0.4rem #fff;
}
.nav-switch img {
	width: 100%;
}
.nav ul {
	white-space: nowrap;
	font-size: 0rem;
}
.nav ul li {
	display: inline-block;
	margin: 0rem 0.16rem;
	font-size: 0.28rem;
	/* flex: 1; */
}
.nav ul li.active {
	font-size: 0.42rem;
	color: #e04f4f;
}
.nav ul li:first-child {
	margin-left: 0rem;
}
/* content */
.content {
	padding: 0rem 0.6rem;
	padding-bottom: 1rem;
}
.content li {
	position: relative;
	height: 5rem;
	margin-bottom: 0.5rem;
	border-radius: 0.4rem;
	/* background-color: #ccc; */
	overflow: hidden;
}
.content li img {
	width: 100%;
}
.content li .tag {
	position: absolute;
	top: 0.4rem;
	right: 0.4rem;
	font-size: 0.24rem;
	color: #fff;
	border-radius: 0.5rem;
	padding: 0.1rem 0.2rem;
	background-color: #e04f4f;
}
.content .content-text {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1.3rem;
	padding: 0rem 0.3rem;
	padding-top: 0.24rem;
	color: #fff;
	background-color: #4a5a75;
}
.content .content-text__top {
	font-size: 0.23rem;

	padding-bottom: 0.06rem;
	border-bottom: 1px solid #a5adba;
	margin-bottom: 0.06rem;
}
.content .content-text__bottom {
	font-size: 0.3rem;
	font-weight: bold;
}

/* fixed nav */
.fixednav {
	box-sizing: border-box;
	position: fixed;
	top: -420px;
	left: 0;
	width: 100%;
	padding: 0.4rem 0.6rem 0.4rem 0.3rem;
	background-color: #f7f8fc;

	font-size: 0.28rem;

	transition: top 0.8s;
}
.fixednav-head {
	padding-top: 0.1rem;
	padding-left: 0.3rem;
	margin-bottom: 0.4rem;
}
.fixednav-head .title {}
.fixednav-head .icon {
	float: right;
	width: 0.28rem;
}
.fixednav-content {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}
.fixednav-content__item {
	box-sizing: border-box;
    width: calc(calc(100% / 4) - 0.12rem);
    margin: 0.06rem;
    height: 1.2rem;
	line-height: 1.2rem;
	text-align: center;

	background-color: #fff;
}
